.site-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.site-content {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    
    @media screen and (min-width: $query__small) {
        padding: 2em;
    }
}

.blog .content-area {
    max-width: 40em;
    margin: 0 auto;
}

@media screen and (min-width: $query__medium) {

.home {
    .site-content {
        display: flex;
        justify-content: space-between;
    }
    
    .content-area {        
        width: 55%;
    }   
    
}

}


