.site-header-container {
    background-color: #252c46;
}

.site-header {
    position: relative;
    font-family: $font__serif;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;    
}

.site-title {
    margin-bottom: 1em;
    
    + p {
        margin-top: .5em;
    }
}

.site-branding {
    width: 55%;
}

@media screen and (min-width: $query__small) {

    .site-header {
        flex-wrap: wrap;
        padding: 1em 2em;
    }
    
    .site-branding {
        width: 55%;
    }
}

@media screen and (min-width: $query__medium) {
    
    .site-branding {
        //width: 35%;
    }
}
