.site-header {
    position: relative;
    font-family: $font__serif;    
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (min-width: $query__small) {
        padding: 2em;
    }
}