.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.post .entry-title {
    margin-top: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
    word-wrap: break-word;
}

.posted-on, .cat-links {
    color: $color__text-secondary;
}

@media screen and (min-width: $query__small) {

.post {
    padding: 2em;
    background-color: $color__fringe;
}

.single .post {
    padding: 2em 0;
    background-color: transparent;
}

}
